*~
\#*\#
/*/Makefile
/config.h
/*.obj
/fly8.exe
/fly.ini
/*.vxx
/*.prm
/*.nav
/*.lnd
/*.vmd
/fly.log
shapes/*.vxx
shapes/*.avx
shapes/*.fvx
parms/*.prm
parms/*.nav
parms/*.lnd
/release/
/fly8.res
/fly.mac
